<div id="job-view-container" class="container">
  <div class="row text-center">
    <a href="/" class="back-link main-color">Voltar</a>
    <div id="img-container" class="col-12">
      <img src="/img/company.svg" alt="Company">
    </div>
    <div class="col-12">
      <h1 class="main-color">{{job.dataValues.title}}</h1>
      <p class="bold">Descrição da vaga:</p>
      <p class="job-desc">{{job.dataValues.description}}</p>
      <p>
        <span class="bold">O salário informado é: </span>
        R$ {{job.dataValues.salary}},00
      </p>
      <p>
        Para trabalhar em
        <span class="bold main-color">{{job.dataValues.company}}</span>
        envie um email para
        <a href="mailto:{{job.dataValues.email}}" class="main-color">{{job.dataValues.email}}</a>
      </p>
    </div>
  </div>
</div>
